a[target] {
  text-decoration: none;
  color: red;
}

a[target="self"] {
  color: plum;
}

a[title~="Pro"] {
  color: aqua;
  font-weight: bold;
  font-size: 35px;
}

a[title~="Bd"] {
  color: purple;
  font-weight: bold;
  font-size: 35px;
}

div[class|="child"] {
  width: 300px;
  height: 200px;
  background: rgba(6, 121, 236, 0.767);
  margin-bottom: 5px;
}
